.all_cases {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3,1fr);
}

.confirmed,
.deaths,
.recovered {
    width: 260px;
    height: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmed > h2 , 
.deaths > h2,
.recovered > h2 {
    color: #fff;
}

.confirmed {
    background: green;
}

.deaths {
    background: red;
}

.recovered {
    background: #333;
}

@media (max-width: 800px) {
    .confirmed,
    .deaths,
    .recovered {
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 700px) {
    .all_cases {
        grid-template-columns: repeat(1,1fr);
    }

    .confirmed ,
    .deaths ,
    .recovered {
        margin: 1rem;
    }
}